<h1>Signup</h1>

<form method="POST" action="/signup">
  <input name="first_name" placeholder="Name" />
  <input name="email" placeholder="Email" />
  <input name="password" type="password" placeholder="Password" />
  <button type="submit">Signup</button>
</form>